.home-layout{
    padding-top: 45px;
    margin-left: 25px;
    margin-right: 25px;
    .title{
        text-align: center;
        margin-bottom: 35px;
        font-weight: 500;
        color: #000000;
    }
    ion-avatar{
        width: 56px;
        height: 56px;
    }
    .name{
        color: #000000;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .verified{
        width: 153px;
        padding: 4px 0;
        border-radius: 16px;
        text-align: center;
        font-size: 12px;
        color: #000000;
        background: #94E278;
        img{
            margin-left: 5px;
        }
    }
    .notVeri{
        width: 153px;
        padding: 4px 0;
        border-radius: 16px;
        text-align: center;
        font-size: 12px;
        color: #000000;
        background: #FBC150;
    }
    ion-item{
        --padding-start: 0;
        --inner-padding-end: 0;
        --highlight-height: 2px
    }
    ion-label{
        color: rgba($color: #272727, $alpha: 0.5);
    }
    .text-item{
        color: #272727;
        font-size: 14px;
        margin: 8px 0;
    }
}